<apex:component id="getSatisfaction">

<apex:outputPanel rendered="false">
	<div id="getsat-widget-5627"></div>
	<script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
	<script type="text/javascript">if (typeof GSFN !== "undefined"){ GSFN.loadWidget(5627,{"containerId":"getsat-widget-5627"});}</script>
</apex:outputPanel>

</apex:component>