<apex:page showHeader="true" sidebar="true" standardController="copado__OrgDiff__c" extensions="copado.OrgDiffExtension,copado.EditOrgDiffExtension" title="{!$ObjectType.copado__OrgDiff__c.Label}">
	<head>
       <c:GAnalytics />
        <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" />
        <script> var $copado = jQuery.noConflict(); </script>
        <script type="text/javascript">
            var __sfdcSessionId = '{!GETSESSIONID()}';
        </script>
        <script src="/soap/ajax/27.0/connection.js"></script>
        <c:WizardUtils ></c:WizardUtils>
        <style>
            .col1commands {width:50px; }
            .col2style {width:200px; font-color:inherit; font-weight:bold; font-style:inherit; text-align:right; }
            .col3style {width:100px; font-color:inherit; font-weight:normal; font-style:inherit; text-align:right; }
        </style>
        <script language="javascript">
                var rock = rock || {};
                rock.config = {
                    diff_url : '{!JSENCODE(diff_url)}'
                };
            </script>   
    </head>
    <apex:form id="theForm" >
    <c:getSatisfaction />
    <apex:sectionHeader title="{!$ObjectType.copado__OrgDiff__c.LabelPlural}" subtitle="{!copado__OrgDiff__c.Name}" description="{!$Label.copado__ORG_DIFF_DESCRIPTION}"/>
    <apex:pageMessages id="pmessages"/>
	<apex:pageBlock helpUrl="http://www.copa.do/cms/documentation" helpTitle="{!$Label.copado__HELP_FOR_THIS_PAGE}">
		<apex:pageBlockButtons >
			<apex:commandButton action="{!edit}" value="{!$Label.site.edit}"/>
			<apex:commandButton action="{!deploy}" value="{!$Label.copado__CREATE} {!$ObjectType.copado__Deployment__c.Label}"/>
			<apex:commandButton action="{!delete}" value="{!$Label.copado__DELETE}"/>
			<input value="{!$Label.CLONE}" class="btn" name="Clone" 
                onclick="navigateToUrl('/{!copado__OrgDiff__c.Id}/e?clone=1&id={!OrgDiff__c.id}&retURL=%2F{!OrgDiff__c.id}')" 
                title="{!$Label.CLONE}" type="button" />
		</apex:pageBlockButtons>

		<!--apex:tabPanel > 
            <apex:tab label="{!$Label.copado__BASIC_INFORMATION}"-->
				<apex:pageBlockSection showHeader="true" title="{!$Label.copado__BASIC_INFORMATION}"> 
					<apex:outputField value="{!copado__OrgDiff__c.Name}"/>
					<apex:outputField value="{!copado__OrgDiff__c.copado__From_Date__c}"/>
					<apex:outputField value="{!copado__OrgDiff__c.copado__From_Org__c}"/>
					<apex:outputField value="{!copado__OrgDiff__c.copado__To_Date__c}"/>
					<apex:outputField value="{!copado__OrgDiff__c.copado__To_Org__c}"/>
					<apex:outputField value="{!copado__OrgDiff__c.copado__Last_Modified_By_Name__c}"/>
				</apex:pageBlockSection>
				<apex:pageBlockSection showHeader="true" title="{!$Label.copado__CREATE_DEPLOYMENT_OPTIONS}">
					<apex:pageBlockSectionItem >
						<apex:outputLabel for="label_create" value="{!$Label.copado__WITH_CREATE}"/>
						<apex:inputCheckbox value="{!withCreate}" id="label_create"/>
					</apex:pageBlockSectionItem>
					<apex:pageBlockSectionItem >
						<apex:outputLabel for="label_delete" value="{!$Label.copado__WITH_DELETE}"/>
						<apex:inputCheckbox value="{!withDelete}" id="label_delete"/>
					</apex:pageBlockSectionItem>
					<apex:pageBlockSectionItem >
						<apex:outputLabel for="label_update" value="{!$Label.copado__WITH_UPDATE}"/>
						<apex:inputCheckbox value="{!withUpdate}" id="label_update"/>
					</apex:pageBlockSectionItem>
				</apex:pageBlockSection>	
					
					
					
					
						
				
				<apex:pageBlockSection title="{!$Label.copado__ADVANCED_METADATA_FILTERS}" 
					collapsible="true"
					showHeader="true"
					id="typesSection"
					columns="1"
					>
					 <apex:pageBlockTable value="{!sel}" var="t" >
                        <apex:column value="{!t}"> <apex:facet name="header">{!$ObjectType.copado__Org__c.fields.copado__Metadata_Types__c.Label}</apex:facet> </apex:column>
                    </apex:pageBlockTable>
				</apex:pageBlockSection>
				<script> 
					function twistSection(twisty, sectionId) {
						//twistSection code from salesforce.com
						var parentDiv = twisty;
						while (parentDiv.tagName != 'DIV') { parentDiv = parentDiv.parentNode; }
						var headerId = sectionId || (parentDiv.id.split('_'))[1];
						var div = parentDiv.nextSibling;
						var elemWasOn = false;
						if (div.style.display != 'none')
						{
						div.style.display = 'none';
						twisty.className ='showListButton';
						twisty.alt = twisty.title = 'Show Section - '+twisty.name;
						elemWasOn = true;
						}
						else
						{
						div.style.display = 'block';
						twisty.className ='showListButton';
						twisty.alt = twisty.title = 'Show Section - '+twisty.name;
						elemWasOn = false;
						}
					} 

					twistSection( $copado('[id$="typesSection"]').find('img')[0]);
				</script>
			<!--/apex:tab>
            <apex:tab label="{!$ObjectType.OrgDiff__c.fields.Metadata_Types__c.Label}">
                <apex:pageBlockSection >
                    <apex:dataList value="{!sel}" var="t">
                        <apex:outputText value="{!t}"/>
                    </apex:dataList>
                </apex:pageBlockSection>
            </apex:tab>
        </apex:tabPanel-->
			
		<apex:actionFunction name="validateOrgs_JS" action="{!validateOrgs}" rerender="pmessages"/>
		<apex:outputPanel id="pbs_metadata">
	               <c:DiffOrgGrid diffId="{!copado__OrgDiff__c.Id}"/>
	               <script>
	                ga('send', 'pageview', {
	                  'page': '/viewOrgDiff',
	                  'title': 'View Org Diff'
	                });
	                </script>
	    
		</apex:outputPanel>
	</apex:pageBlock>
	</apex:form>
	<apex:outputPanel rendered="false">
    	<apex:outputField value="{!copado__OrgDiff__c.copado__Metadata_Types__c}"/>
    </apex:outputPanel>
	<script>validateOrgs_JS();</script>
</apex:page>